<style>
.verse {
    position: relative;
}

.vs_tr_btn {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.verse:hover .vs_tr_btn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
</style>

<div class="container">
    <div class="row my-5 text-center">
        <div class="col-md">
            <h1 id="title"></h1>
        </div>
    </div>
</div>
{% include picker.html %}
<div class="container">
    <div class="row my-3">
            <div id="chapter" class="my-5">
            </div>
    </div>
    <div class="row my-3 text-center">
        <div class="col-md-6 my-2">
            <a id="previous" class="d-none" href=""><button class="btn btn-outline-primary"></button></a>
        </div>
        <div class="col-md-6 my-2">
            <a id="next" href="" class="d-none"><button class="btn btn-outline-primary "></button></a>
        </div>
    </div>
</div>