<div class="container text-center">
    <footer class="pt-4 my-md-5 mx-2 py-5">
        <div class="row">
            <div class="col-lg-4">
                    <!-- <a class="navbar-brand m-3" id="home" href="{{ site.url }}"> <img class="image_on" src="{{ '/assets/logos/logo-nav.svg' | absolute_url }}"  width="150" height="50" alt="Closet Tools Logo"> <img class="image_off" src="{{ '/assets/logos/logo-nav-pink.svg' | absolute_url }}"  width="150" height="50" alt="Closet Tools Logo">  </a> -->
                    <p class="d-block mb-3 text-muted">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
            </div>
            <div class="col-lg-4">
                <h5>Links</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" href="#">Features Roadmap</a></li>
                    <!-- <li><a class="text-muted" href="{{ '/terms' | absolute_url }}">Terms</a></li>
                    <li><a class="text-muted" href="{{ '/privacy' | absolute_url }}">Privacy</a></li> -->
                    <li><a class="text-muted drift-open-chat" href="mailto:contact@trybible.com">Contact <i class="fas fa-comments"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Social</h5>
                <div class="list-unstyled text-small d-inline">
                    <a target="_blank" href="https://twitter.com/trybible"><i class="fab fa-2x fa-twitter m-2"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>
