<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | absolute_url }}">
                <img src="/logo-square.png" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ site.title }}
            </a>    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto text-center">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="{{ '/blog' | absolute_url }}">Blog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ '/about' | absolute_url }}">About</a>
                </li> -->
            </ul>
            <div class="text-center text-lg-left">
                <!-- <a href="{{ '/profile' | absolute_url }}"><button type="button" id="profile" class="btn btn-outline-primary d-none my-2"></button></a> -->
                <button type="button" onclick="signIn()" class="account btn btn-danger my-2">Login / Sign Up <i class="fab mx-1 fa-google"></i></button>
            </div>
        </div>
    </div>
</nav>