<div class="container">
    <div class="row my-3 justify-content-center">
        <div class="col-md-3 text-center my-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Book</label>
                </div>
                <select class="custom-select" id="book">
                    
                </select>
            </div>
        </div>
        <div class="col-md-3 text-center my-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Chapter</label>
                </div>
                <select class="custom-select" id="chapter_select">
                    
                </select>
            </div>
        </div>
        <div class="col-md-4 text-center my-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Translation</label>
                </div>
                <select class="custom-select" id="translation">
                    
                </select>
            </div>
        </div>
    </div>
    <div class="row my-3 text-center">
        <div class="col-md">
            <button onclick="navigate()" class="btn btn-primary btn-lg">Go ⚡</button>
        </div>
    </div>
</div>
    